page-home {
    // ion-content{
        
    //    //background-image: url('../assets/imgs/back.JPG');
    //    background: linear-gradient(to bottom, #ffffff 0%, #ccffff 100%);
    //   }
 
    .toolbar-title-md {
        padding: 10px 12px;
        color:#f4f4f4;
    }
    ion-card-content p{
        text-align: justify;
        font-size: 15px;
    }
    .card-md h2 {
        margin: 2px 4px;
    }
    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
        border-color: white;
    }
    #toolbarlabel{
        //color: white;
        font-size: 16px;
        text-transform: none;
    }
    .toolbar-md {
        min-height: 20px;
        height: 44px;
        padding: 0px;
    }
    .Corporate-Contenet p{
        text-align: justify;
        font-size: 15px;
    }
   
}